KMS_ENCRYPTED_HOOK_URL=
UNENCRYPTED_HOOK_URL=
SLACK_CHANNEL='#notifications'
SLACK_USERNAME=Slack-CloudWatch-Bot
ICON_EMOJI=":robot_face:"
ORG_ICON=https://assertible.com/images/logo/logo-64x64.png
ORG_NAME=Assertible
